body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #dff6ff, #ffffff);
    color: #333;
}

/* Վերնագիր */
header {
    background: #00b4d8;
    color: white;
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}
@media (max-width: 768px){

    h1{
        font-size: 22px;
        text-align: center;
    }

    a{
        flex-direction: column;
        align-items: center;
    }

    button{
        width: 90%;
        font-size: 16px;
        padding: 12px;
    }

    img{
        width: 120px;
        height: auto;
    }
}

/* Գլխավոր էջի կոճակներ */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    max-width: 900px;
}

.buttons a {
    background: white;
    padding: 15px 25px;
    border-radius: 12px;
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.buttons a:hover {
    background: #caf0f8;
    transform: translateY(-5px);
}

/* Ներքին էջերի բլոկ */
.content {
    max-width: 850px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.content h2 {
    color: #0077b6;
    margin-top: 25px;
}

img {
    width: 200px;
    border-radius: 10px;
    display: block;
    margin: 10px 0 20px;
}

.back {
    display: block;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
}

.back:hover {
    color: #023e8a;
}

footer {
    text-align: center;
    background: #0077b6;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
